# Production API
VITE_PROD_API_URL=http://xx.xxx.xxx.xxx:xxxx

# Development APIs
VITE_DEV_USER_API=http://localhost:3001
VITE_DEV_RESTAURANT_API=http://localhost:3002
VITE_DEV_ORDER_API=http://localhost:3003
VITE_DEV_DELIVERY_API=http://localhost:3004
